#messageWindow {
	overflow:scroll;
	text-align:center;
/*
	border-style:solid;
	border-width:thin;
	border-color:azure;
*/
	height:90px;
	margin-top:40px;
	color:azure;
	font-size:18px;
}
#attackButton {
	clear:both;
	margin:20px auto;
	display:block;
	padding:20px;
}

body, html {
	background-image:url("../images/rancorpit2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:100%;
	
}

.charImage {
/*	min-width:250px;*/
	border-style:groove;
	border-width:medium;
	border-color:gray;
	margin:auto;
	display:block;
}

.charImage img {
	display:block;
    margin:auto;   
    height:100px;
	padding:10px;
}

.clearfix :after{
	display:block;
	content="";
	clear:both;
}

.charStats {
	text-align: center;
	color:white;
	margin:0 10px;
}

#arena {
	display:none;
	margin:40px auto 0 auto;
	height:auto;
	width:auto;
	border-style:dotted;
	border-color:red;
}

.charContainer {
	display:block;
	margin:auto;

}

div.col-sm-2 {
	padding:0;
}

.name {
	color:coral;
	font-size:16px;
}

#gameOver{
	font-size:24px;
	color: deeppink;
}